In [1]:
import pandas as pd
from sqlalchemy import create_engine
import numpy as np

In [193]:
csv_file1 = "Resources/cfb20.csv"
cfb_data1 = pd.read_csv(csv_file1)
cfb_data1.head()

,Team,Games,Win,Loss,Off.Rank,Off.Plays,Off.Yards,Off.Yards.Play,Off.TDs,Off.Yards.per.Game,...,Average.Time.of.Possession.per.Game,Turnover.Rank,Fumbles.Recovered,Opponents.Intercepted,Turnovers.Gain,Fumbles.Lost,Interceptions.Thrown.y,Turnovers.Lost,Turnover.Margin,Avg.Turnover.Margin.per.Game
0,Air Force (Mountain West),6,3,3,73,373,2336,6.26,19,389.3,...,32:30,58,3,5,8,5,3,8,0,0.00
1,Akron (MAC),6,1,5,121,360,1687,4.69,12,281.2,...,30:35,98,4,2,6,3,6,9,-3,-0.50
2,Alabama (SEC),11,11,0,5,764,5983,7.83,68,543.9,...,30:45,12,10,11,21,7,4,11,10,0.91
3,App State (Sun Belt),12,9,3,26,845,5424,6.42,49,452.0,...,32:18,57,3,15,18,6,11,17,1,0.08
4,Arizona (Pac-12),5,0,5,86,373,1847,4.95,10,369.4,...,28:01,126,1,2,3,5,7,12,-9,-1.80

In [194]:
cfb_data1.insert(0, 'Year', '2020')

In [195]:
cfb_data1.insert(0, 'Unique_ID', range(0, 0 + len(cfb_data1)))

In [196]:
#cfb_data1 = cfb_data1.set_index('Unique_ID')

In [197]:
cfb_data1['Conference'] = (np.where(cfb_data1['Team'].str.contains(''),
                  cfb_data1['Team'].str.split('(').str[1],
                  cfb_data1['Team']))
cfb_data1.head()

,Unique_ID,Year,Team,Games,Win,Loss,Off.Rank,Off.Plays,Off.Yards,Off.Yards.Play,...,Turnover.Rank,Fumbles.Recovered,Opponents.Intercepted,Turnovers.Gain,Fumbles.Lost,Interceptions.Thrown.y,Turnovers.Lost,Turnover.Margin,Avg.Turnover.Margin.per.Game,Conference
0,0,2020,Air Force (Mountain West),6,3,3,73,373,2336,6.26,...,58,3,5,8,5,3,8,0,0.00,Mountain West)
1,1,2020,Akron (MAC),6,1,5,121,360,1687,4.69,...,98,4,2,6,3,6,9,-3,-0.50,MAC)
2,2,2020,Alabama (SEC),11,11,0,5,764,5983,7.83,...,12,10,11,21,7,4,11,10,0.91,SEC)
3,3,2020,App State (Sun Belt),12,9,3,26,845,5424,6.42,...,57,3,15,18,6,11,17,1,0.08,Sun Belt)
4,4,2020,Arizona (Pac-12),5,0,5,86,373,1847,4.95,...,126,1,2,3,5,7,12,-9,-1.80,Pac-12)

In [198]:
cfb_data1['Team'] = cfb_data1['Team'].str.split('(').str[0]
cfb_data1['Conference'] = cfb_data1['Conference'].str.split(')').str[0]
cfb_data1.head()

,Unique_ID,Year,Team,Games,Win,Loss,Off.Rank,Off.Plays,Off.Yards,Off.Yards.Play,...,Turnover.Rank,Fumbles.Recovered,Opponents.Intercepted,Turnovers.Gain,Fumbles.Lost,Interceptions.Thrown.y,Turnovers.Lost,Turnover.Margin,Avg.Turnover.Margin.per.Game,Conference
0,0,2020,Air Force,6,3,3,73,373,2336,6.26,...,58,3,5,8,5,3,8,0,0.00,Mountain West
1,1,2020,Akron,6,1,5,121,360,1687,4.69,...,98,4,2,6,3,6,9,-3,-0.50,MAC
2,2,2020,Alabama,11,11,0,5,764,5983,7.83,...,12,10,11,21,7,4,11,10,0.91,SEC
3,3,2020,App State,12,9,3,26,845,5424,6.42,...,57,3,15,18,6,11,17,1,0.08,Sun Belt
4,4,2020,Arizona,5,0,5,86,373,1847,4.95,...,126,1,2,3,5,7,12,-9,-1.80,Pac-12

In [199]:
cfb_data1.head()

,Unique_ID,Year,Team,Games,Win,Loss,Off.Rank,Off.Plays,Off.Yards,Off.Yards.Play,...,Turnover.Rank,Fumbles.Recovered,Opponents.Intercepted,Turnovers.Gain,Fumbles.Lost,Interceptions.Thrown.y,Turnovers.Lost,Turnover.Margin,Avg.Turnover.Margin.per.Game,Conference
0,0,2020,Air Force,6,3,3,73,373,2336,6.26,...,58,3,5,8,5,3,8,0,0.00,Mountain West
1,1,2020,Akron,6,1,5,121,360,1687,4.69,...,98,4,2,6,3,6,9,-3,-0.50,MAC
2,2,2020,Alabama,11,11,0,5,764,5983,7.83,...,12,10,11,21,7,4,11,10,0.91,SEC
3,3,2020,App State,12,9,3,26,845,5424,6.42,...,57,3,15,18,6,11,17,1,0.08,Sun Belt
4,4,2020,Arizona,5,0,5,86,373,1847,4.95,...,126,1,2,3,5,7,12,-9,-1.80,Pac-12

In [200]:
csv_file2 = "Resources/cfb19.csv"
cfb_data2 = pd.read_csv(csv_file2)
cfb_data2.head()

,Team,Games,Win,Loss,Off.Rank,Off.Plays,Off.Yards,Off.Yards.Play,Off.TDs,Off.Yards.per.Game,...,Average.Time.of.Possession.per.Game,Turnover.Rank,Fumbles.Recovered,Opponents.Intercepted,Turnovers.Gain,Fumbles.Lost,Interceptions.Thrown.y,Turnovers.Lost,Turnover.Margin,Avg.Turnover.Margin.per.Game
0,Air Force (Mountain West),13,11,2,51,881,5483,6.22,55,421.8,...,34:28,78,9,7,16,12,6,18,-2,-0.15
1,Akron (MAC),12,0,12,130,725,2918,4.02,14,243.2,...,26:29,128,6,5,11,12,14,26,-15,-1.25
2,Alabama (SEC),13,11,2,6,842,6640,7.89,76,510.8,...,29:59,3,11,17,28,4,6,10,18,1.38
3,Appalachian St. (Sun Belt),14,13,1,39,969,6064,6.26,65,433.1,...,31:19,7,10,14,24,3,6,9,15,1.07
4,Arizona (Pac-12),12,4,8,30,873,5281,6.05,42,440.1,...,27:24,89,4,11,15,6,12,18,-3,-0.25

In [201]:
cfb_data2.insert(0, 'Year', '2019')

In [202]:
cfb_data2.insert(0, 'Unique_ID', range(0, 0 + len(cfb_data2)))

In [203]:
#cfb_data2 = cfb_data2.set_index('Unique_ID')

In [204]:
cfb_data2['Conference'] = (np.where(cfb_data2['Team'].str.contains(''),
                  cfb_data2['Team'].str.split('(').str[1],
                  cfb_data2['Team']))
cfb_data2.head()

,Unique_ID,Year,Team,Games,Win,Loss,Off.Rank,Off.Plays,Off.Yards,Off.Yards.Play,...,Turnover.Rank,Fumbles.Recovered,Opponents.Intercepted,Turnovers.Gain,Fumbles.Lost,Interceptions.Thrown.y,Turnovers.Lost,Turnover.Margin,Avg.Turnover.Margin.per.Game,Conference
0,0,2019,Air Force (Mountain West),13,11,2,51,881,5483,6.22,...,78,9,7,16,12,6,18,-2,-0.15,Mountain West)
1,1,2019,Akron (MAC),12,0,12,130,725,2918,4.02,...,128,6,5,11,12,14,26,-15,-1.25,MAC)
2,2,2019,Alabama (SEC),13,11,2,6,842,6640,7.89,...,3,11,17,28,4,6,10,18,1.38,SEC)
3,3,2019,Appalachian St. (Sun Belt),14,13,1,39,969,6064,6.26,...,7,10,14,24,3,6,9,15,1.07,Sun Belt)
4,4,2019,Arizona (Pac-12),12,4,8,30,873,5281,6.05,...,89,4,11,15,6,12,18,-3,-0.25,Pac-12)

In [205]:
cfb_data2['Team'] = cfb_data2['Team'].str.split('(').str[0]
cfb_data2['Conference'] = cfb_data2['Conference'].str.split(')').str[0]

In [206]:
cfb_data2.head()

,Unique_ID,Year,Team,Games,Win,Loss,Off.Rank,Off.Plays,Off.Yards,Off.Yards.Play,...,Turnover.Rank,Fumbles.Recovered,Opponents.Intercepted,Turnovers.Gain,Fumbles.Lost,Interceptions.Thrown.y,Turnovers.Lost,Turnover.Margin,Avg.Turnover.Margin.per.Game,Conference
0,0,2019,Air Force,13,11,2,51,881,5483,6.22,...,78,9,7,16,12,6,18,-2,-0.15,Mountain West
1,1,2019,Akron,12,0,12,130,725,2918,4.02,...,128,6,5,11,12,14,26,-15,-1.25,MAC
2,2,2019,Alabama,13,11,2,6,842,6640,7.89,...,3,11,17,28,4,6,10,18,1.38,SEC
3,3,2019,Appalachian St.,14,13,1,39,969,6064,6.26,...,7,10,14,24,3,6,9,15,1.07,Sun Belt
4,4,2019,Arizona,12,4,8,30,873,5281,6.05,...,89,4,11,15,6,12,18,-3,-0.25,Pac-12

In [207]:
csv_file3 = "Resources/cfb18.csv"
cfb_data3 = pd.read_csv(csv_file3)
cfb_data3

,Team,Games,Win,Loss,Off.Rank,Off.Plays,Off.Yards,Off.Yards.Play,Off.TDs,Off.Yards.per.Game,...,Average.Time.of.Possession.per.Game,Turnover.Rank,Fumbles.Recovered,Opponents.Intercepted,Turnovers.Gain,Fumbles.Lost,Interceptions.Thrown.y,Turnovers.Lost,Turnover.Margin,Avg.Turnover.Margin.per.Game
0,Air Force (MWC),12,5,7,52,882,4978,5.64,43,414.8,...,34:22,77,7,7,14,10,5,15,-1,-0.08
1,Akron (MAC),12,4,8,126,764,3533,4.62,21,294.4,...,28:09,103,11,10,21,12,14,26,-5,-0.42
2,Alabama (SEC),15,14,1,6,1009,7830,7.76,85,522.0,...,30:19,34,7,14,21,7,8,15,6,0.40
3,Appalachian St. (Sun Belt),13,11,2,37,859,5603,6.52,58,431.0,...,30:34,30,6,17,23,5,12,17,6,0.46
4,Arizona (Pac-12),12,5,7,24,881,5492,6.23,43,457.7,...,28:15,90,8,7,15,9,10,19,-4,-0.33
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
124,West Virginia (Big 12),12,8,4,8,870,6147,7.07,60,512.3,...,28:50,23,9,15,24,7,10,17,7,0.58
125,Western Ky. (C-USA),12,3,9,101,870,4364,5.02,30,363.7,...,29:23,52,6,12,18,6,10,16,2,0.17
126,Western Mich. (MAC),13,7,6,35,962,5679,5.90,52,436.8,...,33:36,63,11,9,20,10,9,19,1,0.08
127,Wisconsin (Big Ten),13,8,5,36,875,5604,6.40,51,431.1,...,32:04,63,11,14,25,10,14,24,1,0.08
128,Wyoming (MWC),12,6,6,118,771,3969,5.15,27,330.8,...,29:56,40,5,10,15,7,4,11,4,0.33

In [208]:
cfb_data3.insert(0, 'Year', '2018')

In [209]:
cfb_data3.insert(0, 'Unique_ID', range(0, 0 + len(cfb_data3)))

In [210]:
#cfb_data3 = cfb_data3.set_index('Unique_ID')

In [211]:
cfb_data3['Conference'] = (np.where(cfb_data3['Team'].str.contains(''),
                  cfb_data3['Team'].str.split('(').str[1],
                  cfb_data3['Team']))

In [212]:
cfb_data3['Team'] = cfb_data3['Team'].str.split('(').str[0]
cfb_data3['Conference'] = cfb_data3['Conference'].str.split(')').str[0]

In [213]:
cfb_data3.head()

,Unique_ID,Year,Team,Games,Win,Loss,Off.Rank,Off.Plays,Off.Yards,Off.Yards.Play,...,Turnover.Rank,Fumbles.Recovered,Opponents.Intercepted,Turnovers.Gain,Fumbles.Lost,Interceptions.Thrown.y,Turnovers.Lost,Turnover.Margin,Avg.Turnover.Margin.per.Game,Conference
0,0,2018,Air Force,12,5,7,52,882,4978,5.64,...,77,7,7,14,10,5,15,-1,-0.08,MWC
1,1,2018,Akron,12,4,8,126,764,3533,4.62,...,103,11,10,21,12,14,26,-5,-0.42,MAC
2,2,2018,Alabama,15,14,1,6,1009,7830,7.76,...,34,7,14,21,7,8,15,6,0.40,SEC
3,3,2018,Appalachian St.,13,11,2,37,859,5603,6.52,...,30,6,17,23,5,12,17,6,0.46,Sun Belt
4,4,2018,Arizona,12,5,7,24,881,5492,6.23,...,90,8,7,15,9,10,19,-4,-0.33,Pac-12

In [214]:
partial_append_df = cfb_data2.append(cfb_data3)

In [215]:
final_df = cfb_data1.append(partial_append_df)

In [216]:
final_df

,Unique_ID,Year,Team,Games,Win,Loss,Off.Rank,Off.Plays,Off.Yards,Off.Yards.Play,...,Turnover.Rank,Fumbles.Recovered,Opponents.Intercepted,Turnovers.Gain,Fumbles.Lost,Interceptions.Thrown.y,Turnovers.Lost,Turnover.Margin,Avg.Turnover.Margin.per.Game,Conference
0,0,2020,Air Force,6,3,3,73,373,2336,6.26,...,58,3,5,8,5,3,8,0,0.00,Mountain West
1,1,2020,Akron,6,1,5,121,360,1687,4.69,...,98,4,2,6,3,6,9,-3,-0.50,MAC
2,2,2020,Alabama,11,11,0,5,764,5983,7.83,...,12,10,11,21,7,4,11,10,0.91,SEC
3,3,2020,App State,12,9,3,26,845,5424,6.42,...,57,3,15,18,6,11,17,1,0.08,Sun Belt
4,4,2020,Arizona,5,0,5,86,373,1847,4.95,...,126,1,2,3,5,7,12,-9,-1.80,Pac-12
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
124,124,2018,West Virginia,12,8,4,8,870,6147,7.07,...,23,9,15,24,7,10,17,7,0.58,Big 12
125,125,2018,Western Ky.,12,3,9,101,870,4364,5.02,...,52,6,12,18,6,10,16,2,0.17,C-USA
126,126,2018,Western Mich.,13,7,6,35,962,5679,5.90,...,63,11,9,20,10,9,19,1,0.08,MAC
127,127,2018,Wisconsin,13,8,5,36,875,5604,6.40,...,63,11,14,25,10,14,24,1,0.08,Big Ten
128,128,2018,Wyoming,12,6,6,118,771,3969,5.15,...,40,5,10,15,7,4,11,4,0.33,MWC

In [217]:
#final_df.insert(0, 'Unique_ID', range(0, 0 + len(final_df)))

In [218]:
#final_df = final_df.set_index('Unique_ID')

In [219]:
final_df['Team'] = final_df['Team'].str.strip()
final_df['Conference'] = final_df['Conference'].str.strip()

In [220]:
final_df

,Unique_ID,Year,Team,Games,Win,Loss,Off.Rank,Off.Plays,Off.Yards,Off.Yards.Play,...,Turnover.Rank,Fumbles.Recovered,Opponents.Intercepted,Turnovers.Gain,Fumbles.Lost,Interceptions.Thrown.y,Turnovers.Lost,Turnover.Margin,Avg.Turnover.Margin.per.Game,Conference
0,0,2020,Air Force,6,3,3,73,373,2336,6.26,...,58,3,5,8,5,3,8,0,0.00,Mountain West
1,1,2020,Akron,6,1,5,121,360,1687,4.69,...,98,4,2,6,3,6,9,-3,-0.50,MAC
2,2,2020,Alabama,11,11,0,5,764,5983,7.83,...,12,10,11,21,7,4,11,10,0.91,SEC
3,3,2020,App State,12,9,3,26,845,5424,6.42,...,57,3,15,18,6,11,17,1,0.08,Sun Belt
4,4,2020,Arizona,5,0,5,86,373,1847,4.95,...,126,1,2,3,5,7,12,-9,-1.80,Pac-12
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
124,124,2018,West Virginia,12,8,4,8,870,6147,7.07,...,23,9,15,24,7,10,17,7,0.58,Big 12
125,125,2018,Western Ky.,12,3,9,101,870,4364,5.02,...,52,6,12,18,6,10,16,2,0.17,C-USA
126,126,2018,Western Mich.,13,7,6,35,962,5679,5.90,...,63,11,9,20,10,9,19,1,0.08,MAC
127,127,2018,Wisconsin,13,8,5,36,875,5604,6.40,...,63,11,14,25,10,14,24,1,0.08,Big Ten
128,128,2018,Wyoming,12,6,6,118,771,3969,5.15,...,40,5,10,15,7,4,11,4,0.33,MWC

In [221]:
final_df.loc[final_df['Team'] == 'Alabama']

,Unique_ID,Year,Team,Games,Win,Loss,Off.Rank,Off.Plays,Off.Yards,Off.Yards.Play,...,Turnover.Rank,Fumbles.Recovered,Opponents.Intercepted,Turnovers.Gain,Fumbles.Lost,Interceptions.Thrown.y,Turnovers.Lost,Turnover.Margin,Avg.Turnover.Margin.per.Game,Conference
2,2,2020,Alabama,11,11,0,5,764,5983,7.83,...,12,10,11,21,7,4,11,10,0.91,SEC
2,2,2019,Alabama,13,11,2,6,842,6640,7.89,...,3,11,17,28,4,6,10,18,1.38,SEC
2,2,2018,Alabama,15,14,1,6,1009,7830,7.76,...,34,7,14,21,7,8,15,6,0.40,SEC

In [222]:
final_df.columns = final_df.columns.str.replace('.', '_')

<ipython-input-222-aa8c013ec172>:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will*not* be treated as literal strings when regex=True.
  final_df.columns = final_df.columns.str.replace('.', '_')

In [223]:
final_df

,Unique_ID,Year,Team,Games,Win,Loss,Off_Rank,Off_Plays,Off_Yards,Off_Yards_Play,...,Turnover_Rank,Fumbles_Recovered,Opponents_Intercepted,Turnovers_Gain,Fumbles_Lost,Interceptions_Thrown_y,Turnovers_Lost,Turnover_Margin,Avg_Turnover_Margin_per_Game,Conference
0,0,2020,Air Force,6,3,3,73,373,2336,6.26,...,58,3,5,8,5,3,8,0,0.00,Mountain West
1,1,2020,Akron,6,1,5,121,360,1687,4.69,...,98,4,2,6,3,6,9,-3,-0.50,MAC
2,2,2020,Alabama,11,11,0,5,764,5983,7.83,...,12,10,11,21,7,4,11,10,0.91,SEC
3,3,2020,App State,12,9,3,26,845,5424,6.42,...,57,3,15,18,6,11,17,1,0.08,Sun Belt
4,4,2020,Arizona,5,0,5,86,373,1847,4.95,...,126,1,2,3,5,7,12,-9,-1.80,Pac-12
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
124,124,2018,West Virginia,12,8,4,8,870,6147,7.07,...,23,9,15,24,7,10,17,7,0.58,Big 12
125,125,2018,Western Ky.,12,3,9,101,870,4364,5.02,...,52,6,12,18,6,10,16,2,0.17,C-USA
126,126,2018,Western Mich.,13,7,6,35,962,5679,5.90,...,63,11,9,20,10,9,19,1,0.08,MAC
127,127,2018,Wisconsin,13,8,5,36,875,5604,6.40,...,63,11,14,25,10,14,24,1,0.08,Big Ten
128,128,2018,Wyoming,12,6,6,118,771,3969,5.15,...,40,5,10,15,7,4,11,4,0.33,MWC

In [224]:
columns = final_df.columns.values.tolist()
columns

['Unique_ID',
 'Year',
 'Team',
 'Games',
 'Win',
 'Loss',
 'Off_Rank',
 'Off_Plays',
 'Off_Yards',
 'Off_Yards_Play',
 'Off_TDs',
 'Off_Yards_per_Game',
 'Def_Rank',
 'Def_Plays',
 'Yards_Allowed',
 'Yards_Play_Allowed',
 'Off_TDs_Allowed',
 'Total_TDs_Allowed',
 'Yards_Per_Game_Allowed',
 'First_Down_Rank',
 'First_Down_Runs',
 'First_Down_Passes',
 'First_Down_Penalties',
 'First_Downs',
 'First_Down_Def_Rank',
 'Opp_First_Down_Runs',
 'Opp_First_Down_Passes',
 'Opp_First_Down_Penalties',
 'Opp_First_Downs',
 'X4th_Down_Rank',
 'X4th_Attempts',
 'X4th_Conversions',
 'X4th_Percent',
 'X4rd_Down_Def_Rank',
 'Opp_4th_Conversion',
 'Opp_4th_Attempt',
 'Opponent_4th_Percent',
 'Kickoff_Return_Rank',
 'Kickoffs_Returned',
 'Kickoff_Return_Yards',
 'Kickoff_Return_Touchdowns',
 'Avg_Yard_per_Kickoff_Return',
 '___40',
 'Kickoff_Return_Def_Rank',
 'Opp_Kickoff_Returns',
 'Kickoff_Touchbacks',
 'Opponent_Kickoff_Return_Yards',
 'Opp_Kickoff_Return_Touchdowns_Allowed',
 'Avg_Yards_per_Kickoff_Return_Allowed',
 'Passing_Off_Rank',
 'Pass_Attempts',
 'Pass_Completions',
 'Interceptions_Thrown_x',
 'Pass_Yards',
 'Pass_Yards_Attempt',
 'Yards_Completion',
 'Pass_Touchdowns',
 'Pass_Yards_Per_Game',
 'Pass_Def_Rank',
 'Opp_Completions_Allowed',
 'Opp_Pass_Attempts',
 'Opp_Pass_Yds_Allowed',
 'Opp_Pass_TDs_Allowed',
 'Yards_Attempt_Allowed',
 'Yards_Completion_Allowed',
 'Pass_Yards_Per_Game_Allowed',
 'Penalty_Rank',
 'Penalties',
 'Penalty_Yards',
 'Penalty_Yards_Per_Game',
 'Punt_Return_Rank',
 'Punt_Returns',
 'Net_Punt_Return_Yards',
 'Punt_Return_Touchdowns',
 'Avg_Yards_Per_Punt_Return',
 'Punt_Return_Def_Rank',
 'Opp_Punt_Returns',
 'Opp_Net_Punt_Return_Yards',
 'Opp_Punt_Return_Touchdowns_Allowed',
 'Avg_Yards_Allowed_per_Punt_Return',
 'Redzone_Off_Rank',
 'Redzone_Attempts',
 'Redzone_Rush_TD',
 'Redzone_Pass_TD',
 'Redzone_Field_Goals_Made',
 'Redzone_Scores',
 'Redzone_Points',
 'Redzone_Def_Rank',
 'Opp_Redzone_Attempts',
 'Opp_Redzone_Rush_TD_Allowed',
 'Opp_Redzone_Pass_Touchdowns_Allowed',
 'Opp_Redzone_Field_Goals_Made',
 'Opp_Redzone_Scores',
 'Redzone_Points_Allowed',
 'Rushing_Off_Rank',
 'Rush_Attempts',
 'Rush_Yds',
 'Yards_Rush',
 'Rushing_TD',
 'Rushing_Yards_per_Game',
 'Rushing_Def_Rank',
 'Opp_Rush_Attempts',
 'Opp_Rush_Yards_Alloweed',
 'Yds_Rush_Allowed',
 'Opp_Rush_Touchdowns_Allowed',
 'Rush_Yards_Per_Game_Allowed',
 'Sack_Rank',
 'Sacks',
 'Sack_Yards',
 'Average_Sacks_per_Game',
 'Scoring_Def_Rank',
 'Touchdowns_Allowed',
 'Opponent_Extra_Points',
 'X2_Point_Conversions_Allowed',
 'Opp_Deflected_Extra_Points',
 'Opp_Feild_Goals_Made',
 'Opp_Safety',
 'Points_Allowed',
 'Avg_Points_per_Game_Allowed',
 'Scoring_Off_Rank',
 'Touchdowns',
 'PAT',
 'X2_Point_Conversions',
 'Defensive_Points',
 'Feild_Goals',
 'Safety',
 'Total_Points',
 'Points_Per_Game',
 'Tackle_for_Loss_Rank',
 'Solo_Tackle_For_Loss',
 'Assist_Tackle_For_Loss',
 'Tackle_for_Loss_Yards',
 'Total_Tackle_For_Loss',
 'Tackle_For_Loss_Per_Game',
 'X3rd_Down_Rank',
 'X3rd_Attempts',
 'X3rd_Conversions',
 'X3rd_Percent',
 'X3rd_Down_Def_Rank',
 'Opp_3rd_Conversion',
 'Opp_3rd_Attempt',
 'Opponent_3rd_Percent',
 'Time_of_Possession_Rank',
 'Time_of_Possession',
 'Average_Time_of_Possession_per_Game',
 'Turnover_Rank',
 'Fumbles_Recovered',
 'Opponents_Intercepted',
 'Turnovers_Gain',
 'Fumbles_Lost',
 'Interceptions_Thrown_y',
 'Turnovers_Lost',
 'Turnover_Margin',
 'Avg_Turnover_Margin_per_Game',
 'Conference']

In [230]:
win_loss = final_df[["Unique_ID", "Team", "Games", "Win", "Loss"]]
win_loss.set_index("Unique_ID", inplace=True)
win_loss

                    Team  Games  Win  Loss
Unique_ID
0              Air Force      6    3     3
1                  Akron      6    1     5
2                Alabama     11   11     0
3              App State     12    9     3
4                Arizona      5    0     5
...                  ...    ...  ...   ...
124        West Virginia     12    8     4
125          Western Ky.     12    3     9
126        Western Mich.     13    7     6
127            Wisconsin     13    8     5
128              Wyoming     12    6     6

[386 rows x 4 columns]

In [234]:
offense = final_df[['Team','Unique_ID',
 'Off_Rank',
 'Off_Plays',
 'Off_Yards',
 'Off_Yards_Play',
 'Off_TDs',
 'Off_Yards_per_Game',
 'Scoring_Off_Rank',
 'Points_Per_Game']]
offense.set_index("Unique_ID", inplace=True)
offense

,Team,Off_Rank,Off_Plays,Off_Yards,Off_Yards_Play,Off_TDs,Off_Yards_per_Game
Unique_ID,,,,,,,
0,Air Force,73,373,2336,6.26,19,389.3
1,Akron,121,360,1687,4.69,12,281.2
2,Alabama,5,764,5983,7.83,68,543.9
3,App State,26,845,5424,6.42,49,452.0
4,Arizona,86,373,1847,4.95,10,369.4
...,...,...,...,...,...,...,...
124,West Virginia,8,870,6147,7.07,60,512.3
125,Western Ky.,101,870,4364,5.02,30,363.7
126,Western Mich.,35,962,5679,5.90,52,436.8
127,Wisconsin,36,875,5604,6.40,51,431.1
128,Wyoming,118,771,3969,5.15,27,330.8

In [235]:
defense = final_df[['Team','Unique_ID',
 'Def_Rank',
 'Def_Plays',
 'Yards_Allowed',
 'Yards_Play_Allowed',
 'Off_TDs_Allowed',
 'Total_TDs_Allowed',
 'Yards_Per_Game_Allowed',
 'Touchdowns_Allowed',
 'Points_Allowed']]
defense.set_index("Unique_ID", inplace=True)
defense

,Team,Def_Rank,Def_Plays,Yards_Allowed,Yards_Play_Allowed,Off_TDs_Allowed,Total_TDs_Allowed,Yards_Per_Game_Allowed
Unique_ID,,,,,,,,
0,Air Force,8,360,1820,5.06,11,12,303.3
1,Akron,110,365,2759,7.56,31,34,459.8
2,Alabama,33,767,3863,5.04,25,25,351.2
3,App State,18,798,3946,4.94,27,30,328.8
4,Arizona,116,351,2365,6.74,25,26,473.0
...,...,...,...,...,...,...,...,...
124,West Virginia,74,839,4876,5.81,39,41,406.3
125,Western Ky.,82,862,5059,5.87,36,37,421.6
126,Western Mich.,57,813,5026,6.18,57,60,386.6
127,Wisconsin,29,814,4474,5.50,31,33,344.2
128,Wyoming,19,818,3914,4.78,32,33,326.2

In [236]:
offense_firstdowns = final_df[['Team','Unique_ID',
 'First_Down_Rank',
 'First_Down_Runs',
 'First_Down_Passes',
 'First_Down_Penalties',
 'First_Downs']]
offense_firstdowns.set_index("Unique_ID", inplace=True)
offense_firstdowns

,Team,First_Down_Rank,First_Down_Runs,First_Down_Passes,First_Down_Penalties,First_Downs
Unique_ID,,,,,,
0,Air Force,14,52,46,8,106
1,Akron,24,68,49,7,124
2,Alabama,92,76,119,21,216
3,App State,101,105,95,23,223
4,Arizona,16,55,43,10,108
...,...,...,...,...,...,...
124,West Virginia,73,112,131,19,262
125,Western Ky.,72,112,127,22,261
126,Western Mich.,58,112,123,20,255
127,Wisconsin,19,98,108,24,230
128,Wyoming,16,96,111,16,223

In [237]:
defense_firstdowns = final_df[['Team','Unique_ID',
 'Opp_First_Down_Runs',
 'Opp_First_Down_Passes',
 'Opp_First_Down_Penalties',
 'Opp_First_Downs']]
defense_firstdowns.set_index("Unique_ID", inplace=True)
defense_firstdowns

,Team,Opp_First_Down_Runs,Opp_First_Down_Passes,Opp_First_Down_Penalties,Opp_First_Downs
Unique_ID,,,,,
0,Air Force,52,46,8,106
1,Akron,68,49,7,124
2,Alabama,76,119,21,216
3,App State,105,95,23,223
4,Arizona,55,43,10,108
...,...,...,...,...,...
124,West Virginia,112,131,19,262
125,Western Ky.,112,127,22,261
126,Western Mich.,112,123,20,255
127,Wisconsin,98,108,24,230
128,Wyoming,96,111,16,223

In [238]:
offense_fourthdowns = final_df[['Team','Unique_ID',
 'X4th_Down_Rank',
 'X4th_Attempts',
 'X4th_Conversions',
 'X4th_Percent']]
offense_fourthdowns.set_index("Unique_ID", inplace=True)
offense_fourthdowns

,Team,X4th_Down_Rank,X4th_Attempts,X4th_Conversions,X4th_Percent
Unique_ID,,,,,
0,Air Force,14,8,11,0.727
1,Akron,98,4,9,0.444
2,Alabama,102,3,7,0.429
3,App State,61,11,20,0.550
4,Arizona,122,3,12,0.250
...,...,...,...,...,...
124,West Virginia,49,9,16,0.563
125,Western Ky.,115,9,24,0.375
126,Western Mich.,40,20,34,0.588
127,Wisconsin,109,5,12,0.417
128,Wyoming,123,4,12,0.333

In [277]:
defense_fourthdowns = final_df[['Team','Unique_ID',
 'Opp_4th_Conversion',
 'Opp_4th_Attempt',
 'Opponent_4th_Percent'
]]
defense_fourthdowns.set_index("Unique_ID", inplace=True)
defense_fourthdowns

,Team,Opp_4th_Conversion,Opp_4th_Attempt,Opponent_4th_Percent
Unique_ID,,,,
0,Air Force,3,10,0.300
1,Akron,4,7,0.571
2,Alabama,11,19,0.579
3,App State,13,27,0.481
4,Arizona,5,8,0.625
...,...,...,...,...
124,West Virginia,12,19,0.632
125,Western Ky.,12,22,0.545
126,Western Mich.,8,16,0.500
127,Wisconsin,7,13,0.538
128,Wyoming,11,16,0.688

In [239]:
offense_kickoffs = final_df[['Team','Unique_ID',
 'Kickoffs_Returned',
 'Kickoff_Return_Yards',
 'Kickoff_Return_Touchdowns',
 'Avg_Yard_per_Kickoff_Return']]
offense_kickoffs.set_index("Unique_ID", inplace=True)
offense_kickoffs

,Team,Kickoffs_Returned,Kickoff_Return_Yards,Kickoff_Return_Touchdowns,Avg_Yard_per_Kickoff_Return
Unique_ID,,,,,
0,Air Force,14,9,324,1
1,Akron,16,6,340,0
2,Alabama,33,17,610,0
3,App State,42,17,728,1
4,Arizona,2,17,110,1
...,...,...,...,...,...
124,West Virginia,44,25,850,0
125,Western Ky.,35,13,758,0
126,Western Mich.,57,6,1087,1
127,Wisconsin,13,54,263,0
128,Wyoming,22,30,456,1

In [240]:
defense_kickoffs = final_df[['Team','Unique_ID',
 'Opp_Kickoff_Returns',
 'Kickoff_Touchbacks',
 'Opponent_Kickoff_Return_Yards',
 'Opp_Kickoff_Return_Touchdowns_Allowed',
 'Avg_Yards_per_Kickoff_Return_Allowed']]
defense_kickoffs.set_index("Unique_ID", inplace=True)
defense_kickoffs

,Team,Opp_Kickoff_Returns,Kickoff_Touchbacks,Opponent_Kickoff_Return_Yards,Opp_Kickoff_Return_Touchdowns_Allowed,Avg_Yards_per_Kickoff_Return_Allowed
Unique_ID,,,,,,
0,Air Force,14,9,324,1,23.14
1,Akron,16,6,340,0,21.25
2,Alabama,33,17,610,0,18.48
3,App State,42,17,728,1,17.33
4,Arizona,2,17,110,1,55.00
...,...,...,...,...,...,...
124,West Virginia,44,25,850,0,19.32
125,Western Ky.,35,13,758,0,21.66
126,Western Mich.,57,6,1087,1,19.07
127,Wisconsin,13,54,263,0,20.23
128,Wyoming,22,30,456,1,20.73

In [241]:
offense_passing = final_df[['Team','Unique_ID',
 'Passing_Off_Rank',
 'Pass_Attempts',
 'Pass_Completions',
 'Interceptions_Thrown_x',
 'Pass_Yards',
 'Pass_Yards_Attempt',
 'Yards_Completion',
 'Pass_Touchdowns',
 'Pass_Yards_Per_Game']]
offense_passing.set_index("Unique_ID", inplace=True)
offense_passing

,Team,Passing_Off_Rank,Pass_Attempts,Pass_Completions,Interceptions_Thrown_x,Pass_Yards,Pass_Yards_Attempt,Yards_Completion,Pass_Touchdowns,Pass_Yards_Per_Game
Unique_ID,,,,,,,,,,
0,Air Force,126,61,34,3,502,8.23,14.76,3,83.7
1,Akron,119,148,83,6,838,5.66,10.10,4,139.7
2,Alabama,5,350,263,4,3895,11.13,14.81,33,354.1
3,App State,105,300,190,11,2245,7.48,11.82,21,187.1
4,Arizona,77,189,114,7,1065,5.63,9.34,6,213.0
...,...,...,...,...,...,...,...,...,...,...
124,West Virginia,4,445,291,10,4216,9.47,14.49,38,351.3
125,Western Ky.,69,431,254,10,2722,6.32,10.72,15,226.8
126,Western Mich.,62,396,243,9,3086,7.79,12.70,20,237.4
127,Wisconsin,118,304,179,14,2050,6.74,11.45,19,157.7
128,Wyoming,124,276,135,4,1576,5.71,11.67,8,131.3

In [242]:
defense_passing = final_df[['Team','Unique_ID',
 'Opp_Completions_Allowed',
 'Opp_Pass_Attempts',
 'Opp_Pass_Yds_Allowed',
 'Opp_Pass_TDs_Allowed',
 'Yards_Attempt_Allowed',
 'Yards_Completion_Allowed',
 'Pass_Yards_Per_Game_Allowed']]
defense_passing.set_index("Unique_ID", inplace=True)
defense_passing

,Team,Opp_Completions_Allowed,Opp_Pass_Attempts,Opp_Pass_Yds_Allowed,Opp_Pass_TDs_Allowed,Yards_Attempt_Allowed,Yards_Completion_Allowed,Pass_Yards_Per_Game_Allowed
Unique_ID,,,,,,,,
0,Air Force,88,143,1001,7,7.00,11.38,166.8
1,Akron,85,127,1270,12,10.00,14.94,211.7
2,Alabama,227,393,2679,14,6.82,11.80,243.5
3,App State,168,350,2135,13,6.10,12.71,177.9
4,Arizona,80,122,1012,6,8.30,12.65,202.4
...,...,...,...,...,...,...,...,...
124,West Virginia,247,389,3104,22,7.98,12.57,258.7
125,Western Ky.,228,406,2985,17,7.35,13.09,248.8
126,Western Mich.,205,328,2870,30,8.75,14.00,220.8
127,Wisconsin,209,360,2458,14,6.83,11.76,189.1
128,Wyoming,241,394,2360,15,5.99,9.79,196.7

In [243]:
penalties = final_df[['Team','Unique_ID',
 'Penalty_Rank',
 'Penalties',
 'Penalty_Yards',
 'Penalty_Yards_Per_Game']]
penalties.set_index("Unique_ID", inplace=True)
penalties

,Team,Penalty_Rank,Penalties,Penalty_Yards,Penalty_Yards_Per_Game
Unique_ID,,,,,
0,Air Force,19,27,245,40.83
1,Akron,2,24,190,31.67
2,Alabama,46,66,522,47.45
3,App State,107,88,811,67.58
4,Arizona,89,34,294,58.80
...,...,...,...,...,...
124,West Virginia,106,85,800,66.67
125,Western Ky.,77,79,683,56.92
126,Western Mich.,59,77,678,52.15
127,Wisconsin,56,74,657,50.54
128,Wyoming,51,72,596,49.67

In [244]:
offense_punts = final_df[['Team','Unique_ID',
 'Punt_Return_Rank',
 'Punt_Returns',
 'Net_Punt_Return_Yards',
 'Punt_Return_Touchdowns',
 'Avg_Yards_Per_Punt_Return',
]]
offense_punts.set_index("Unique_ID", inplace=True)
offense_punts

,Team,Punt_Return_Rank,Punt_Returns,Net_Punt_Return_Yards,Punt_Return_Touchdowns,Avg_Yards_Per_Punt_Return
Unique_ID,,,,,,
0,Air Force,26,4,15,0,3.75
1,Akron,67,20,144,0,7.20
2,Alabama,32,4,19,0,4.75
3,App State,14,18,39,0,2.17
4,Arizona,92,6,61,0,10.17
...,...,...,...,...,...,...
124,West Virginia,56,9,69,0,7.67
125,Western Ky.,99,7,72,0,10.29
126,Western Mich.,58,13,102,1,7.85
127,Wisconsin,109,17,191,1,11.24
128,Wyoming,44,21,136,0,6.48

In [245]:
defense_punts = final_df[['Team','Unique_ID',
 'Punt_Return_Def_Rank',
 'Opp_Punt_Returns',
 'Opp_Net_Punt_Return_Yards',
 'Opp_Punt_Return_Touchdowns_Allowed',
 'Avg_Yards_Allowed_per_Punt_Return'
]]
defense_punts.set_index("Unique_ID", inplace=True)
defense_punts

,Team,Punt_Return_Def_Rank,Opp_Punt_Returns,Opp_Net_Punt_Return_Yards,Opp_Punt_Return_Touchdowns_Allowed,Avg_Yards_Allowed_per_Punt_Return
Unique_ID,,,,,,
0,Air Force,26,4,15,0,3.75
1,Akron,67,20,144,0,7.20
2,Alabama,32,4,19,0,4.75
3,App State,14,18,39,0,2.17
4,Arizona,92,6,61,0,10.17
...,...,...,...,...,...,...
124,West Virginia,56,9,69,0,7.67
125,Western Ky.,99,7,72,0,10.29
126,Western Mich.,58,13,102,1,7.85
127,Wisconsin,109,17,191,1,11.24
128,Wyoming,44,21,136,0,6.48

In [246]:
offense_redzone = final_df[['Team','Unique_ID',
 'Redzone_Off_Rank',
 'Redzone_Attempts',
 'Redzone_Rush_TD',
 'Redzone_Pass_TD',
 'Redzone_Field_Goals_Made',
 'Redzone_Scores',
 'Redzone_Points']]
offense_redzone.set_index("Unique_ID", inplace=True)
offense_redzone

,Team,Redzone_Off_Rank,Redzone_Attempts,Redzone_Rush_TD,Redzone_Pass_TD,Redzone_Field_Goals_Made,Redzone_Scores,Redzone_Points
Unique_ID,,,,,,,,
0,Air Force,117,24,13,1,3,17,0.708
1,Akron,41,14,5,4,3,12,0.857
2,Alabama,11,60,30,16,9,55,0.917
3,App State,106,52,17,13,9,39,0.750
4,Arizona,119,13,3,2,4,9,0.692
...,...,...,...,...,...,...,...,...
124,West Virginia,89,53,17,18,8,43,0.811
125,Western Ky.,119,42,14,11,7,32,0.762
126,Western Mich.,83,55,27,9,9,45,0.818
127,Wisconsin,41,53,21,16,9,46,0.868
128,Wyoming,87,27,7,5,10,22,0.815

In [247]:
defense_redzone = final_df[['Team','Unique_ID',
 'Redzone_Def_Rank',
 'Opp_Redzone_Attempts',
 'Opp_Redzone_Rush_TD_Allowed',
 'Opp_Redzone_Pass_Touchdowns_Allowed',
 'Opp_Redzone_Field_Goals_Made',
 'Opp_Redzone_Scores',
 'Redzone_Points_Allowed'
]]
defense_redzone.set_index("Unique_ID", inplace=True)
defense_redzone

,Team,Redzone_Def_Rank,Opp_Redzone_Attempts,Opp_Redzone_Rush_TD_Allowed,Opp_Redzone_Pass_Touchdowns_Allowed,Opp_Redzone_Field_Goals_Made,Opp_Redzone_Scores,Redzone_Points_Allowed
Unique_ID,,,,,,,,
0,Air Force,5,13,4,3,2,9,0.692
1,Akron,33,27,15,5,1,21,0.778
2,Alabama,28,30,10,5,8,23,0.767
3,App State,24,37,12,7,9,28,0.757
4,Arizona,104,28,16,3,6,25,0.893
...,...,...,...,...,...,...,...,...
124,West Virginia,93,45,14,14,11,39,0.867
125,Western Ky.,51,49,13,10,17,40,0.816
126,Western Mich.,117,55,21,22,7,50,0.909
127,Wisconsin,77,44,14,9,14,37,0.841
128,Wyoming,91,36,15,9,7,31,0.861

In [248]:
offense_rushing = final_df[['Team','Unique_ID',
 'Rushing_Off_Rank',
 'Rush_Attempts',
 'Rush_Yds',
 'Yards_Rush',
 'Rushing_TD',
 'Rushing_Yards_per_Game']]
offense_rushing.set_index("Unique_ID", inplace=True)
offense_rushing

,Team,Rushing_Off_Rank,Rush_Attempts,Rush_Yds,Yards_Rush,Rushing_TD,Rushing_Yards_per_Game
Unique_ID,,,,,,,
0,Air Force,1,312,1834,5.88,16,305.7
1,Akron,86,212,849,4.00,8,141.5
2,Alabama,44,414,2088,5.04,35,189.8
3,App State,7,545,3179,5.83,28,264.9
4,Arizona,73,184,782,4.25,4,156.4
...,...,...,...,...,...,...,...
124,West Virginia,75,425,1931,4.54,22,160.9
125,Western Ky.,103,439,1642,3.74,15,136.8
126,Western Mich.,38,566,2593,4.58,32,199.5
127,Wisconsin,6,571,3554,6.22,32,273.4
128,Wyoming,39,495,2393,4.83,19,199.4

In [249]:
defense_rushing = final_df[['Team','Unique_ID',
 'Rushing_Def_Rank',
 'Opp_Rush_Attempts',
 'Opp_Rush_Yards_Alloweed',
 'Yds_Rush_Allowed',
 'Opp_Rush_Touchdowns_Allowed',
 'Rush_Yards_Per_Game_Allowed']]
defense_rushing.set_index("Unique_ID", inplace=True)
defense_rushing

,Team,Rushing_Def_Rank,Opp_Rush_Attempts,Opp_Rush_Yards_Alloweed,Yds_Rush_Allowed,Opp_Rush_Touchdowns_Allowed,Rush_Yards_Per_Game_Allowed
Unique_ID,,,,,,,
0,Air Force,33,217,819,3.77,4,136.5
1,Akron,120,238,1489,6.26,19,248.2
2,Alabama,12,374,1184,3.17,11,107.6
3,App State,49,448,1811,4.04,14,150.9
4,Arizona,125,229,1353,5.91,19,270.6
...,...,...,...,...,...,...,...
124,West Virginia,48,450,1772,3.94,17,147.7
125,Western Ky.,77,456,2074,4.55,19,172.8
126,Western Mich.,68,485,2156,4.45,27,165.8
127,Wisconsin,54,454,2016,4.44,17,155.1
128,Wyoming,25,424,1554,3.67,17,129.5

In [250]:
sacks = final_df[['Team','Unique_ID',
 'Sack_Rank',
 'Sacks',
 'Sack_Yards',
 'Average_Sacks_per_Game']]
sacks.set_index("Unique_ID", inplace=True)
sacks

                    Team  Sack_Rank  Sacks  Sack_Yards  Average_Sacks_per_Game
Unique_ID
0              Air Force          3      2          19                    0.33
1                  Akron        125     26         162                    4.33
2                Alabama         25     16         101                    1.45
3              App State         40     21         131                    1.75
4                Arizona        120     18         118                    3.60
...                  ...        ...    ...         ...                     ...
124        West Virginia         82     29         204                    2.42
125          Western Ky.         97     32         204                    2.67
126        Western Mich.         27     20         103                    1.54
127            Wisconsin         43     24         151                    1.85
128              Wyoming         53     24         204                    2.00

[386 rows x 5 columns]

In [251]:
turnovers = final_df[['Team','Unique_ID',
 'Turnover_Rank',
 'Fumbles_Recovered',
 'Opponents_Intercepted',
 'Turnovers_Gain',
 'Fumbles_Lost',
 'Interceptions_Thrown_y',
 'Turnovers_Lost',
 'Turnover_Margin',
 'Avg_Turnover_Margin_per_Game']]
turnovers.set_index("Unique_ID", inplace=True)
turnovers

,Team,Turnover_Rank,Fumbles_Recovered,Opponents_Intercepted,Turnovers_Gain,Fumbles_Lost,Interceptions_Thrown_y,Turnovers_Lost,Turnover_Margin,Avg_Turnover_Margin_per_Game
Unique_ID,,,,,,,,,,
0,Air Force,58,3,5,8,5,3,8,0,0.00
1,Akron,98,4,2,6,3,6,9,-3,-0.50
2,Alabama,12,10,11,21,7,4,11,10,0.91
3,App State,57,3,15,18,6,11,17,1,0.08
4,Arizona,126,1,2,3,5,7,12,-9,-1.80
...,...,...,...,...,...,...,...,...,...,...
124,West Virginia,23,9,15,24,7,10,17,7,0.58
125,Western Ky.,52,6,12,18,6,10,16,2,0.17
126,Western Mich.,63,11,9,20,10,9,19,1,0.08
127,Wisconsin,63,11,14,25,10,14,24,1,0.08
128,Wyoming,40,5,10,15,7,4,11,4,0.33

In [252]:
rds_connection_string = "postgres:Speaker34j!@localhost:5432/college_football"
engine = create_engine(f'postgresql://{rds_connection_string}')

In [253]:
engine.table_names()

[]

In [255]:
win_loss.to_sql(name='win_loss', con=engine, if_exists='append', index=False)

In [258]:
offense.to_sql(name='offense', con=engine, if_exists='append', index=False)

In [259]:
defense.to_sql(name='defense', con=engine, if_exists='append', index=False)

In [260]:
offense_firstdowns.to_sql(name='offense_firstdowns', con=engine, if_exists='append', index=False)

In [261]:
defense_firstdowns.to_sql(name='defense_firstdowns', con=engine, if_exists='append', index=False)

In [262]:
offense_fourthdowns.to_sql(name='offense_fourthdowns', con=engine, if_exists='append', index=False)

In [278]:
defense_fourthdowns.to_sql(name='defense_fourthdowns', con=engine, if_exists='append', index=False)

In [264]:
offense_kickoffs.to_sql(name='offense_kickoffs', con=engine, if_exists='append', index=False)

In [265]:
defense_kickoffs.to_sql(name='defense_kickoffs', con=engine, if_exists='append', index=False)

In [266]:
offense_passing.to_sql(name='offense_passing', con=engine, if_exists='append', index=False)

In [267]:
defense_passing.to_sql(name='defense_passing', con=engine, if_exists='append', index=False)

In [268]:
penalties.to_sql(name='penalties', con=engine, if_exists='append', index=False)

In [269]:
offense_punts.to_sql(name='offense_punts', con=engine, if_exists='append', index=False)

In [270]:
defense_punts.to_sql(name='defense_punts', con=engine, if_exists='append', index=False)

In [271]:
offense_redzone.to_sql(name='offense_redzone', con=engine, if_exists='append', index=False)

In [272]:
defense_redzone.to_sql(name='defense_redzone', con=engine, if_exists='append', index=False)

In [273]:
offense_rushing.to_sql(name='offense_rushing', con=engine, if_exists='append', index=False)

In [274]:
defense_rushing.to_sql(name='defense_rushing', con=engine, if_exists='append', index=False)

In [275]:
sacks.to_sql(name='sacks', con=engine, if_exists='append', index=False)

In [276]:
turnovers.to_sql(name='turnovers', con=engine, if_exists='append', index=False)

In [279]:
engine.table_names()

['offense',
 'defense',
 'offense_firstdowns',
 'defense_firstdowns',
 'offense_fourthdowns',
 'offense_kickoffs',
 'defense_kickoffs',
 'offense_passing',
 'defense_passing',
 'penalties',
 'offense_punts',
 'defense_punts',
 'offense_redzone',
 'defense_redzone',
 'offense_rushing',
 'defense_rushing',
 'sacks',
 'turnovers',
 'defense_fourthdowns']

In [300]:
pd.read_sql_query('select * from turnovers where ', con=engine)

ProgrammingError: (psycopg2.errors.SyntaxError) syntax error at end of input
LINE 1: select * from turnovers where
                                      ^

[SQL: select * from turnovers where ]
(Background on this error at: http://sqlalche.me/e/13/f405)